@model Dental_Manager.System.Models.Appointment
@{
    ViewBag.Title = "Appointment";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url(/Content/User/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Appointment</h1>
                <p class="breadcrumbs">
                    <span class="mr-2">
                        <a href="@Url.Action("Trang_Chu", "User")">Home <i class="ion-ios-arrow-forward"></i></a>
                    </span>
                    <span>Appointment <i class="ion-ios-arrow-forward"></i></span>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container-fluid px-md-0">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex align-items-stretch">
                <div class="consultation w-100 text-center px-4 px-md-5">
                    <h3 class="mb-4">Dental Services</h3>
                    <p>A small river named Duden flows by their place and supplies</p>
                    <a href="#" class="btn-custom">See Services</a>
                </div>
            </div>

            <div class="col-md-6 d-flex align-items-stretch">
                <div class="consultation consul w-100 px-4 px-md-5">
                    <div class="text-center">
                        <h3 class="mb-4">Free Consultation</h3>
                    </div>

                    @using (Html.BeginForm("Appointment", "User", FormMethod.Post, new { @class = "appointment-form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">

                            <div class="col-md-12 col-lg-6 col-xl-4">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", placeholder = "Full Name", required = "required" })
                                    @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-12 col-lg-6 col-xl-4">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Phone Number", required = "required" })
                                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-12 col-lg-6 col-xl-4">
                                <div class="form-group">
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                            @Html.DropDownListFor(
                                                m => m.DoctorId,
                                                (SelectList)ViewBag.DoctorList,
                                                "Select Doctor",
                                                new { @class = "form-control", required = "required" }
                                            )
                                            @Html.ValidationMessageFor(m => m.DoctorId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-lg-6 col-xl-4">
                                <div class="form-group">
                                    <div class="input-wrap">
                                        <div class="icon"><span class="ion-md-calendar"></span></div>
                                        @Html.TextBoxFor(m => m.AppointmentDate, new
                                        {
                                            @class = "form-control appointment_date",
                                            @placeholder = "Date",
                                            @required = "required"
                                        })
                                        @Html.ValidationMessageFor(m => m.AppointmentDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>




                            <div class="col-md-12 col-lg-6 col-xl-4">
                                <div class="form-group">
                                    <div class="input-wrap">
                                        <div class="icon"><span class="ion-ios-clock"></span></div>
                                        @Html.TextBoxFor(m => m.AppointmentTime, new
                                        {
                                            @class = "form-control appointment_time",
                                            @placeholder = "Time",
                                            @required = "required"
                                        })
                                        @Html.ValidationMessageFor(m => m.AppointmentTime, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12 col-lg-6 col-xl-4">
                                <div class="form-group">
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                            @Html.DropDownListFor(
                                                m => m.Dianoisis,
                                                (SelectList)ViewBag.DiagnosisList,
                                                "Select Diagnosis",
                                                new { @class = "form-control", required = "required" }
                                            )
                                            @Html.ValidationMessageFor(m => m.Dianoisis, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-lg-6 col-xl-4">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-secondary py-2 px-4">Appointment</button>
                                </div>
                            </div>

                            <style>
                                select.form-control {
                                    color: black;
                                    border: 1px solid black;
                                    background-color: white;
                                }

                                    select.form-control:focus {
                                        color: black;
                                        border-color: black;
                                        box-shadow: 0 0 5px rgba(0,0,0,0.2);
                                        background-color: white;
                                    }

                                    /* Màu chữ trong danh sách tùy chọn */
                                    select.form-control option {
                                        color: black;
                                        background-color: white; /* tránh bị nền xám khó nhìn */
                                    }
                            </style>

                            @if (TempData["SuccessMessage"] != null)
                            {
                                <div class="alert alert-success text-center w-100">
                                    @TempData["SuccessMessage"]
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>

            <div class="col-md-3 d-flex align-items-stretch">
                <div class="consultation w-100 text-center px-4 px-md-5">
                    <h3 class="mb-4">Find A Doctor</h3>
                    <p>A small river named Duden flows by their place and supplies</p>
                    <a href="#" class="btn-custom">Meet our doctor</a>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    @section Scripts {
        <script>
            //document.addEventListener('DOMContentLoaded', function () {
            //    const el = document.querySelector('.datepicker');
            //    if (el) el.remove();
            //});

            //    $(document).ready(function () {
            //        $('.datepicker').remove();
            //});

            flatpickr(".appointment_date", {
                dateFormat: "Y-m-d",
                minDate: "today",
                disableMobile: false,
                onReady: function () {
                    const el = document.querySelector('.datepicker');
                    if (el) el.remove();
                }
            });


            flatpickr(".appointment_time", {
                enableTime: true,
                noCalendar: true,
                dateFormat: "H:i",
                time_24hr: true,
                disableMobile: true
            });


            $(document).ready(function () {
                console.log("DOM đã sẵn sàng (jQuery)");
                const el = document.querySelector('.datepicker');
                if (el) el.remove();
            });
        </script>
    }


</section>
